.drawer {
  background-color: transparent;
}

.drawer-icon {
  display: none;
  color: white;
  cursor: pointer;
  border: none;
}

.logo {
  text-align: center;
  padding-bottom: 10px;
}

.logo img {
  height: 10rem;
  padding-right: 0.1em;
  text-align: center;
  justify-content: center;
}

.activeTab {
  background-color: chocolate;
}

.singleTab {
  color: white;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}

.singleTab:hover {
  background-color: rgb(187, 110, 55);
}

.appBar {
  direction: rtl;
  background-color: rgb(250, 250, 250);
  z-index: 0;
  box-shadow: none;
}

.appBar IconButton {
  color: black;
  padding: 12px;
}

.logo {
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}

.logo img {
  height: 3.8rem;
  align-items: center;
}

.singleTab {
  color: rgb(53, 52, 52);
  text-decoration: none;
  padding: 0px;
}

.activeTab {
  background-color: #dbdbdb;
}

.singleTab:hover {
  background-color: #ebebeb;
}

.drawerPaper {
  width: 525px;
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
}

.headerLogo {
  display: none;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}

.headerLogo img {
  height: 3.8rem;
  align-items: center;
}

@media (max-width: 600px) {
  .drawer-icon {
    display: block;
  }

  .headerLogo {
    display: none !important;
  }

  /* .hide {
    display: none !important;
  } */
}
