.pageTitle {
  direction: rtl;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0;
}

.zekrData {
  margin: 0px;
}

.page {
  margin: 20px 1em 20px 0px;
}

.rtl {
  direction: rtl;
}

.title {
  font-size: 16px;
}

.zekr {
  font-size: 18px;
  font-weight: bold;
  margin: 3px 0px;
  text-align: justify;
}

.repetations {
  font-size: 15px;
}

.hadith {
  font-size: 15px;
  margin-top: 5px;
  color: rgb(133, 129, 129);
  text-align: justify;
}

.order {
  margin: 1.5px 14px 1.5px 10px;
  padding: 10px;
  border: solid rgb(235, 139, 71) 1.5px;
  width: 9px;
  height: 9px;
  font-size: 100%;
  line-height: 9px;
  border-radius: 50%;
  background-color: rgb(235, 139, 71);
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}
